body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
    margin: 24px 0;
}

.login-form{
    width: 900px;
}

.has-error, .has-success {
    display: block;
    background-color: #fffacc;
    border-radius: 8px;
    padding: 24px;
}

.has-success {
    background-color: #d1ccff;
}

.err-mess {
    display: block;
    margin-top: 8px;
    color: rgb(255, 145, 0);
}

.btn {
    margin-top: 24px;
    width: 100%;
    text-align: center;
    padding: 12px;
    color: #ffffff;
    background-color: #1aff81;
}

.btn:hover{
    background-color: #2dff1a;
    opacity: 0.9;
}